table {
	width:100%;
	table-layout: fixed;
}
table, td, th {
	border: 1px solid #888;
	border-collapse: collapse;
	font-size: 12px;
	font-family: "Fira Code";
}
.day1 {
	border-left: 2px solid black;
}
.day1, .day2, .day3, .day4, .day5, .day6, .day7 {
	border-top: 2px solid black;
}
th {
	background-color: #DDDDDD;
	color: black;
}
td {
	height: 60px;
	vertical-align: top;
}

@media print {
	#input {
		display: none;
	}
	
	#cal {
		visibility: visible;
	}
	td {
		height: 35px;
	}
}